{% extends "base.html" %}

{% block title_head %}Listado de autos{% endblock title_head %} 

{% block h1_header %}Listado de autos{% endblock h1_header %}
{% block contenido %}
<section>
    
<form action="{% url "vehiculos:inicio" %}" method="get">

    {{formulario}}

    <input type="submit" value="Buscar">
</form>

</section>
<section>

    {% if lista %}
    <ul>
        {% for auto in lista %}
        <li>{{ auto }} 
            | <a href="{% url "vehiculos:detalle" auto.id %}">Detalle</a>
            | <a href="{% url "vehiculos:modificar" auto.id %}">Modificar</a>
            | <a href="{% url "vehiculos:eliminar" auto.id %}">Eliminar</a>
        </li>
        
        {% endfor %}
    </ul>
    {% else %}
    <p>No hay autos registrados.</p>
    {% endif %}
    
</section>
{% endblock contenido %}